body {
    display: block;
	font-family: "CirceRegular";
	background-color: #ffffff;
	margin: 0;
}

.top {
    display: block;
    position: relative;
    background-color: #505050;
    padding: 0;
    margin: 0;
}
header{
    background-color: #fff;
    position: relative;
}

main {
    /* position: absolute; */
    padding: 0;
    margin: 0;
}

@media screen and (min-width:1920px) { 

    header {
        
    }

    .top{
    height: 900px;
    }

    .menu{
        display: flex;
        position: fixed;
        padding-top: 60px;
        padding-left: 60px;
        z-index: 999999;
    }

    .burger {
        position: relative;
        color: white;
        text-align: center;
        width: 91px;
        height: 80px;
        background-color: #000000;
    }

    label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 80px;
    }

    .burgerline{
        position: absolute;
        top: 30px;
        right: 27px;
        width: 35px;
        height: 3px;
        background-color: #fff;
        transition: .5s all;
    }

    .second, .third{
        top: 40px;
    }
    
    .fourth{
        top: 50px;
    }

    .main-menu{
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

    a{
        display: block;
        width: 422px;
        height: 30px;
        padding-top: 15px;
        padding-left: 30px;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255,255,255,.3);
        background-color: #000;
        text-align: left;
    }

    a:hover{
        background-color: rgba(0,0,0,.9);
    }
    
    #check-menu{
        display: none;
    }

    #check-menu:checked ~ .main-menu{
        max-height: 500px;
        font-size: 16px;
    }
    
    #check-menu:checked ~ .first{
        display: none;
    }
    
    #check-menu:checked ~ .second{
        transform: rotate(45deg);
    }
    
    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
    }
    
    #check-menu:checked ~ .fourth{
        display: none;
    }
    
    .name {
        margin-left: 5px;
        width: 356px;
        height: 80px;
        background-color: #000000;
        position: relative;
        color: white;
        text-align: center;
        /* justify-content: center; */

    }

    #name {
        position: absolute;
        display: block;
        top: 26px;
        left: 29px;
        font-family: "CirceExtraBold"; 
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 8px;
    }

    .texttop{
        position: absolute;
        left: 60px;

    }
    .nametop{
        position: absolute;
        top: 575px;
        
        width: 736px;
        height: 80px;
        background-color: #fff;
    }

    #nametop{
        left: 29px;
        top: 25px;
        position: absolute;
        color: #000;
        font-family: "CirceExtraBold";
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5.7px;
        white-space: nowrap;

    }
    #texttop {
        position: absolute;
        top: 670px;
        width: 830px;
        font-family: "CirceRegular";
        font-size: 22px;
        color: #fff;
        line-height: 200%;
    }

    .bottom{
        position: absolute;
        left: 185px;
        height: 407px;
    }

    .bottom p#first{
        color: #bb172b;
        display: flex;
        position: relative;
        font-family: "CirceExtraBold";
        font-size: 90px;
    }

    .bottom p#last{
        color: #000000;
        display: flex;
        position: relative;
        top: 24px;
        font-family: "CirceRegular";
        font-size: 18px;
    }

    .bottom #dots {
        color: #b2b2b2;
        font-family: "CirceRegular";
        font-size: 25px;
        line-height: 0;
        letter-spacing: 2.5px;
    }

    #forms{
        position: relative;
        padding-left: 115px;
        float: left;
        top: 135px;
        width: 242px;
    }

    main{
        position: relative;
        display: block;
        background-image: url(../img/bghd.jpg);
        top: 407px;
    }
    .target {
        width: 100%;
        display: block;
        background-image: url(../img/bghd.jpg) no-repeat center center;
        height: 1280px;
    }
    .conditions {
        height: 720px;
        width: 100%;
        background-color: #000000;
        color: #fff;
    }
    .request {
        height: 980px;
        width: 100%;
        background-color: #ffffff;
    }
    footer {
        position: relative;
        top: 980px;
        height: 392px;
        width: 100%;
        background-color: #000;
        margin-bottom: 0;
}

@font-face {
    font-family: "CirceExtraBold"; 
    src: url("../fonts/CirceExtraBold/Circe-ExtraBold.eot"); 
    src: url("../fonts/CirceExtraBold/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceExtraBold/Circe-ExtraBold.woff") format("woff"), 
    url("../fonts/CirceExtraBold/Circe-ExtraBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "CirceRegular"; 
    src: url("../fonts/CirceRegular/Circe-Regular.eot"); 
    src: url("../fonts/CirceRegular/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRegular/Circe-Regular.woff") format("woff"), 
    url("../fonts/CirceRegular/Circe-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }