html {
    overflow-x:  hidden; 
}

body {
    
	font-family: "CirceRegular";
	background-color: #ffffff;
    margin: 0 auto;
    color: #000000;
    /* width: 1024px; */
}

@media (min-width:1024px) and (max-width:1920px){ 
    /* Для контента на странице */
    header, main, footer {
        padding: 30px;
    }

    /* для шрифттов extrabold */
    #namesite, #nametop, #first, #toptarget, #cname, #firsth1, #lasth1, #rname, #send, #links, #numcircl {
        font-family: "CirceExtraBold";
        text-transform: uppercase;
    }

    /* Треккинг: для черных заголовков 200, для белых и "тыс. руб." 140, для ссылки и кнопки 100 */

    /* для черных заголовков 200 */
    #namesite, #toptarget, #rname {
        letter-spacing: 7px;
        font-size: 32px;
        color: #ffffff;
    }

    /* для белых и "тыс. руб." 140 */
    #nametop, #cname, #lasth1 {
        letter-spacing: 4.5px;
        font-size: 32px;
        color: #000000;
    }

    /* для ссылки и кнопки 100 */
    #links, #send {
        color: #bb9975;
        font-size: 16px;
        letter-spacing: 1.7px;
    }

    /* Размер шрифта для больших надписей */
    #first, #firsth1 {
        font-size: 65px;
    }

    /* Размер шрифта 16px */
    #last, #lasth1, #clast, #numcircl, #rules {
        font-size: 16px;
    }

    /* Размер шрифта 18px (для футера добавить) */

    #username, #email, #tel, #city, #message {
        font-size: 18px;
    }

    /* Размер шрифта 20px */
    #texttop, #targets{
        font-size: 20px;
    }

    header {
        height: 640px;
        background-color: #505050;
    }

    /* ширина блоков с названиями */
    /* Черные */

    #namesite, #toptarget, #rname {
        height: 65px;
        line-height: 75px;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
    }
    /* Белые */

    #nametop, #cname {
        /* height: 65px;
        line-height: 75px; */
        padding-top: 20px;
        padding-bottom: 15px;
        text-align: center;
        background-color: #ffffff;
    }

    .nt1 {
        display: inline-table;
    }

    #namesite {
        margin-left: 5px;
        width: 284px;
    }

    #nametops{
        margin-bottom: 20px;
        width: 591px;
        display: flex;
    }

    .nt1 {
        padding-left: 20px;
        padding-right: 10px;
    }

    .nt2 {
        padding-right: 20px;
    }

    /* изменение 1 */
    .texttop { 
        position: absolute;
        margin-top: 405px;
    }

    #texttop {
        /* position: absolute;
        top: 520px; */ /* изменение 2 */
        width: 81%;
        line-height: 180%;
        color: #ffffff;

    }

    .main1 {
        height: 163px;
        padding-top: 76px;
        display: flex;
        justify-content: flex-start;
        width: 95%;
    }

    #first{
        color: #bb172b;
        border-bottom: 3px dotted rgba(0, 0, 0, .4);
    }

    .mtop {
        width: 100%;
    }

    #form1, #form2, #form3  {
        float: left;
        margin-right: 3.4%;
        width: 217px;
    }

    #form4 {
        float: left;
        width: 217px;
    }

    #dots {
        color: #b2b2b2;
        font-size: 23px;
        line-height: 0;
        letter-spacing: 1.9px;
    }

    #last {
        margin-top: 25px;
    }

    .main2 {
        height: 830px;
        background-image: url(../img/1024.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .target {
        margin-left: 170px;
        margin-top: 30px;
    }

    #toptarget {
        
        width: 503px;
    }

    #numcircl {
        float: left;
        width: 30px;
        height: 30px;
        border: 3px solid #d9d9d6;
        border-radius: 50%;
        text-align: center;
        line-height: 200%;
        margin-right: 16px;

    }

    #targets {
        display: -webkit-box;
        margin-bottom: 20px;
        line-height: 200%;
        
    }

    #targetcontent {
        margin-top: 40px;
        width: 80%;
    }

    .links {
        padding-top: 37px;
    }

    #links {
        margin-bottom: 28px;
    }

    .main3 {
        height: 440px;
        background-color: #000000;
        color: #ffffff;
    }

    .cname {
        display: flex;
        justify-content: center;
    }

    #cname {
        margin-top: 30px;
        width: 473px;
    }

    .cbottom {
        /* display: flex;
        justify-content: flex-start; */
        padding-top: 180px;
        width: 100%;
    }

    #cforms {
        float: left;
        width: 31%;
        
    }

    .cformnt {
        margin-right: 2.5%;
    }

    #cfirst {
        display: flex;
    }

    #lasth1 {
        color: #ffffff;
        position: relative;
        top: 39px;
        left: 12px;
        letter-spacing: 2px;
    }

    #cdots {
        position: relative;
        top: 2px;
        color: rgba(255, 255, 255, .4);
        font-size: 23px;
        line-height: 0;
        letter-spacing: 1.9px;
    }

    #clast {
        position: relative;
        top: 25px;
        width: 251px;
    }

    .main4 {
        display: flex;
        justify-content: center;
        height: 740px;
    }

    .request {
        width: 100%;
    }

    #rname {
        margin-top: 30px;
        width: 588px;
    }

    .rname {
        display: flex;
        justify-content: center;
    }

    .reqform {
        margin-top: 40px;
        width: 100%;
        height: 555px;
        border: 3px dotted rgba(0, 0, 0, 0.4);
        
    }

    #username, #email, #tel, #city, #message {
        font-family: "CirceRegular";
        width: 90.5%;
        height: 38px;
        border: none;
        color: rgba(0, 0, 0, 1);
        border-bottom: 3px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 55px;
    }

    #message {
        width: 100%;
    }

    .texinput {
        margin: 90px;
        margin-top: 60px;
        overflow: hidden;
    }

    #kolonka1, #kolonka2 {
        float: left;
        width: 50%;
    }

    #tel, #city {
        float: right;
    }

    .reqbottom {
        overflow: hidden;
    }

    .recap, .send {
        float: left;
        width: 50%;
    }


    .recap {
        float: left;
    }

    .send {
        float: right;
        max-width: 500px;;
    }

    #send {
        background-color: #ffffff;
        border: 3px solid #bb9975;
        border-radius: 0%;
        float: right;
        width: 300px;
        height: 65px;
        
    }

    #send:hover {
        cursor: pointer;
    }

    #rules {
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.4);
        float: right;
        width: 300px;
    }

    footer {

        
        background-color: #000000;
        color: #ffffff;
        font-size: 16px;
    }

    .contacts {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    }

    #Shape_21, #Shape_22 {
        margin-right: 10px;
    }

    .tell {
        margin-right: 60px;
    }

    .tell, .mail {
        display: flex;
    }

    .cont {
        line-height: 150%;
    }

    .menubottom {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    }

    #mb {
        margin-right: 35px;
    }

    .soc {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    }

    #soc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 58px;
        border-right: 3px solid rgba(255, 255, 255, 0.1);
    }

    .policy {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    #policy {
        
        color: #4c4c4c;
    }

    #kolon1, #kolon2 {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:320px) and (max-width:1023px){ 

    /* Шрифты */
    /* 16px */
    body {
        font-size: 16px;
    }
    /* 25px */
    #nametop, #toptarget, #cname, #rname {
        font-size: 25px;
    }

    /* 18px */
    #texttop, #targets {
        font-size: 18px;
    }

    /* 50px */
    #first, #firsth1 {
        font-size: 50px;
    }

    /* Белый шрифт */
    #namesite, #texttop, #toptarget, #firsth1, #lasth1, #clast, #rname, .cont, #mb {
        color: #ffffff;
    }
    /* Бежевый шрифт */
    #links, #send {
        color: #bb9975
    }
    /* Серый */
    #policy {
        color: #4c4c4c;
    }

    #rules, #username, .inputText {
        color: rgba(0, 0, 0, .4);
    }

    /* Uppercase */
    #menu, #namesite, #nametop, #toptarget, #links, #cname, #lasth1, #rname, #send {
        text-transform: uppercase;
    }
    
    /* ExtraBold */
    #numcircl, #toptarget, #first, #nametop, #namesite, #links, #cname, #firsth1, #lasth1, #rname, #send {
        font-family: "CirceExtraBold"; 
    }
   
    /* Треккинг */
    /* Для названия */
    #namesite {
        letter-spacing: 3.4px;
    }

    /* Для белых блоков */

    #nametop {
        letter-spacing: 3.4px;
    }

    /* Для черных блоков */

    #toptargets {
        letter-spacing: 5px;
    }

    header {
        padding: 0px;
        width: 100%;
        height: 765px;
        background: linear-gradient(0deg, #000000, #505050);
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    #namesite {
        font-size: 16px;
        margin-left: 0;
        margin-left: 10px;
       
    }
    .namesite {
        background-color: #000000;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .texttop {
        padding: 10px;
        padding-top: 345px;
    }

    .menubottom {
        display: initial;
    }

    .nametop {
        max-width: 320px;
    }
    
    #nametop {
        background-color: #ffffff;
        display: initial;
        padding-left: 15px;
        padding-right: 10px;
    }
    
    .nt1 {
        padding-top: 15px;
        padding-bottom: 13px;
    }
    
    .nt2 {
        padding-bottom: 10px;
        line-height: 200%;
    }

    #texttop {
        width: 98%;
        margin-top: 15px;
        line-height: 167%;
    }

    #mb {
        margin-top: 30px;
    }

    #kolon1, #kolon2 {
        float: left;
        width: 50%;
    }


    .main1 {
        height: 253px;
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    #first{
        color: #bb172b;
        border-bottom: 2px dotted rgba(0, 0, 0, .4);
        padding-bottom: 4px;
    }

    .mtop {
        width: 100%;
        padding-left: 10px;
    }

    #form1, #form2, #form3  {
        float: left;
        margin-right: 5%;
        width: 45%;
    }

    #form3 {
        margin-top: 31px;
    }

    #form4 {
        float: left;
        width: 45%;
        margin-top: 31px;
    }

    #dots {
        color: #b2b2b2;
        font-size: 23px;
        line-height: 0;
        letter-spacing: 1.9px;
    }

    #last {
        margin-top: 11px;
        line-height: 19px;
    }

    .main2 {
        height: 980px;
        background-image: url(../img/320.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-left: 10px;
        padding-top: 50px;
    }

    #toptargets {
        background-color: #000000;
        display: initial;
        padding-left: 14px;
        padding-right: 9px;
    }
    
    .tt1 {
        padding-top: 17px;
        padding-bottom: 13px;
    }
    
    .tt2 {
        padding-bottom: 11px;
        line-height: 180%;
        padding-top: 16px;
    }
}

@font-face {
    font-family: "CirceExtraBold"; 
    src: url("../fonts/CirceExtraBold/Circe-ExtraBold.eot"); 
    src: url("../fonts/CirceExtraBold/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceExtraBold/Circe-ExtraBold.woff") format("woff"), 
    url("../fonts/CirceExtraBold/Circe-ExtraBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "CirceRegular"; 
    src: url("../fonts/CirceRegular/Circe-Regular.eot"); 
    src: url("../fonts/CirceRegular/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRegular/Circe-Regular.woff") format("woff"), 
    url("../fonts/CirceRegular/Circe-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }